.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp
*/extensions/*/*.dll
*/datafiles/interop_test.html

*/Debug/
*/Release/
Debug/
Release/
export/*.gmz
export/*.gmez
export/*.yymp
export/*.yymps
export/*.png
export/*.zip
*.sdf
help.rtf
/bin/GmlCppExtFuncs.n
/bin/GmlCppExtFuncs.exe
/bin/GmlCppExtFuncs.zip
